:root {

}
body {
    font-family: 'Questrial', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}
#realHeader {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    width: 100vw;
}
#searchButton {
    border-style: none;
    background-color: unset;

}
h1 {
    font-family: 'Paytone One', sans-serif;

}
h2 {
    font-family: 'Paytone One', sans-serif;
}
main {
    display: flex;
}
#todayIconBarrier {
    width: 33vw;
}
#todayContainer {
    justify-content: flex-start;
    display: flex;
}
#futureContainer {
    justify-content: right;
    display: flex;
}